<p>form works!</p>


<form #form="ngForm">

  <input type="text" class="form-control" [(ngModel)]="formObj.nome" name="nome" placeholder="Il tuo nome">

  <input required type="text" class="form-control" [(ngModel)]="formObj.cognome" name="cognome" placeholder="Il tuo cognome">
  <input required type="password" class="form-control" [(ngModel)]="formObj.password" name="password" placeholder="Password">
  <input required type="password" class="form-control" [(ngModel)]="formObj.confermaPassword" name="confermaPassword" placeholder="Conferma Password">
  <input required type="text" class="form-control" [(ngModel)]="formObj.genere" name="genere" placeholder="Il tuo genere">
  <!-- <input required type="image" class="form-control" [(ngModel)]="formObj.immagineProfilo" name="immagineProfilo" placeholder="La tua immagine Profilo"> -->
  <input required type="text" class="form-control" [(ngModel)]="formObj.biografia" name="biografia" placeholder="La tua biografia">
  <input required type="text" class="form-control" [(ngModel)]="formObj.username" name="username" placeholder="Il tuo username">


  <button (click)="submit()" [disabled]="!form.valid" class="btn btn-primary">Invia</button>

</form>
