/* Your styles here */
body{
    color: #393d41;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
h1,h3,h4,h5,h6{
    color: #25a2c3;
}
h2{
    color: white;
    font-size: 2rem;
}
header{
    background-color: black;
}
header img{
    width: 100px;
    padding-top: 15px;
    padding-bottom: 20px;
}
.developer{
    text-align: center;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px;
}
.developer h1,p{
    margin: 20px 30px 30px 30px;
    
}
#partiamo {
    color: white;
    background-color:#f04c2f;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
}
.lavoro{
    display: flex;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 30px;
}
.imglavoro{
    display: inline;
    border-radius: 100%;
    width: 350px;
    margin-top: 30px;
    margin-left: 140px;
}
.affiancamento{
    margin-top: 100px;
    margin-bottom: 40px;
    
}
.affiancamento h3,p{
    font-size: 0.5;
    text-align: left;
}
.affiancamento h3{
    margin-left: 220px; 
    margin-right: 130px; 
}
.affiancamento p{
    text-align: left;
    padding-left: 0px;
    margin-left: 220px; 
    margin-right: 130px; 
}
.affiancamento h3{
   margin-bottom: 5px;
   margin-top: 5px;
   
}
.affiancamento p{
    margin-bottom: 5px;
    margin-top: 5px;
}


.garanzie{
    background-color: #e22d0e;
    color: white;
    padding: 50px;
}
.garanzie h2,p{
    text-align: center;
}

.p1{
    font-style: italic;
}
.p2{
    font-size: 1.6rem;
    margin-bottom: 0;
    padding-bottom: 0;
}
.p3{
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 5px;
}

.trebox{
    display: flex;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
    margin-right: 40px;
    margin-left: 20px;
}
.trebox div{
    display: inline;
    margin: 30px;
    border: 2px solid #dee1e3;
    
}
.trebox img{
    max-width: 100%;
}
.trebox h3{
    margin: 15px ;
}
.trebox p{
    margin:10px 20px 40px 20px;
}

footer {
    text-align: center;
    background-color: #25a2c3;
    color: white;
    padding: 35px;
}
footer h2{
    margin-bottom: 20px;
}
.contatti{
    padding-bottom:30px;
    font-size: 1rem;
}
.contatti a{
    color: white;
    display: block;
    font-size: 1;
}
.contatti p{
    margin-left: ;
}
#copyright{
    font-size: 0.8rem;
    border-top:1px solid white;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 90px;
    margin-right: 90px;
}
#copyright a{
    color: white;
}