/* IMPOSTAZIONI GENERALI */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    }
    body{
        background-image: url(/img/sfondo.png);
    }

/* HEADER */
header{
background-color: rgb(33, 193, 229);
background-image: linear-gradient(rgb(33, 193, 229),rgb(1, 64, 79));
text-align: center;
color: white;
text-transform: uppercase;
font-family: 'Poppins', sans-serif;
padding: 20px;
box-shadow: 1px 1px 1px 1px rgb(63, 62, 62);
}
.navigation li a{
color: white;
text-transform: uppercase;
text-decoration: none;
}
.listalogo{
    padding-bottom: 5px;
}
   .logo{
    padding: 20px;
   }
   .logo img{
    padding: 20px;
   }
   

/* MAIN */
.article{
    background-color: white;
    margin: 25px;
    font-weight: 500;
}

.article h1{
    font-size: 40px;
    font-weight: bold;
    margin: 25px;
}
.mariorossi{
    margin: 25px;
    color: gray;
    font-weight: 500;
}
.article strong{
    color: rgb(174, 0, 81);
    font-weight: 700;
}

.article p{
    margin-bottom: 20px;
}
.article ul li{
    list-style-type: disc;
    }
.article code{
    background-color: rgb(223, 218, 218);
    border: 2px solid rgb(146, 143, 143);
    border-radius: 5px;
}
.article ol {
    list-style-type: decimal;
}


/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */
.tabelle caption{
font-weight: bold;
font-style:italic ;
}
.tabelle thead{
    margin: 50px;
    background-color: blue;
}
.thead{
    padding: 50px;
    margin: 50px;
}
/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
