<div class="container">
  <div class="row">
    <h5 class="col-8 mt-5 mb-3">Registrazione</h5>
    <form class="col-8">
      <input [(ngModel)]="registerData.nome" name="nome" type="text" class="form-control mt-1" placeholder="Nome">
      <input [(ngModel)]="registerData.email" name="email" type="email" class="form-control mt-1" placeholder="Email">
      <input [(ngModel)]="registerData.password" name="password" type="password" class="form-control mt-1" placeholder="Password">
      <button
      (click)="save()"
      class="btn btn-primary mt-3">Registrami</button>
    </form>
  </div>
</div>

