div nav a img{
    width: 8rem;
}
nav button span{
    color: white;
}

#kids-icon{
    width: 1.5rem;
}
#arrkids{
    font-size: 0.5rem;
}
.contenitore2{
    padding-inline: 1.5rem;
    padding-right: 2.8rem;
}
.selected{
    width: 6rem;
    height: 2rem;
}
.list-grid{
    height: 2rem;
    width: 3rem;
}
.list-grid:hover{
    box-shadow: 0px 0px 7px 1px #FFFFFF;
}

#grid{
    font-size: 0.7rem;
}

.carousel-item img{
    padding: 0.1rem;
}