@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



body {
    color: #612406;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

ul {
    padding-inline-start: 0;
}

/* --------------------NAVIGATION---------------------- */
.navigation{
    box-sizing: border-box;
}
.navigation ul {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FBF7E3;

}
.navigation li{
    box-sizing: border-box;
}
.navigation a {
    text-decoration: none;
    color: #612406;
}

.link1,
.link2,
.link3,
.link4,
.link5 {
    background-color: #F3DF85;
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    font-size: 1rem;
}

#btnimg {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F3DF85;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#btnimg img {
    width: 40px;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 30px;
}

/* -----------Sellingcontainer---------------- */

.sellingproducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;

}



/* ---------------Card--------------------- */

.product-card {
    background-color: #FBF7E3;
    border-radius: 100px;
    /* max-width: 350px; */
    width: 15em;
    text-align: center;
    padding-bottom: 30px;

}

.img {
    background-image: url(../assets/imgs/honey.jpg);
    background-position: center;
    /* max-width: 350px;
   height: 300px; */
    height: 11em;
    /* width: 14em; */
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    margin-bottom: 20px;
}

.paragraf {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 80px;
}

.p1 {
    font-weight: bold;
    flex-basis: 60%;
}

.p2 {
    flex-basis: 10%;
}

.p1 span {
    display: inline-block;
    font-weight: 400;
}

.product-card a {
    text-decoration: none;
    color: #612406;
    background-color: #F3DF85;
    border-radius: 25px;
    padding: 7px 35px;

}

/*---------------------------- Main------------------ */
.container {
    padding: 20px;
}


/* --------------------Section--------------- */

h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    padding-top: 20px;
    margin-bottom: 20px;
}

section {
    max-width: 750px;
}

section div {
    background-color: #FBF7E3;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
}

section img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* -------Mobile----------- */
@media screen and (max-width:750px) {

    body{
        padding: 3rem 5rem;
    }
    .navigation {
        position: relative;
        display: flex;
        flex-direction: column;
        
    }
    
    .navigation ul {
        border-radius: 8rem;
        height: 20rem;
        display: flex;
        flex-wrap: wrap;

    }
    .link1,
    .link2,
    .link4,
    .link5{
        padding : 2rem;
        border-radius: 2.5rem;
    }


    #btnimg {
        order: 1;
        position: absolute;
        top: 2rem;
        left: 12rem;
    }

   



}